.img-placeholder.img-loading{
    display: initial;
}
.img-placeholder.img-not-loading{
    display: none;
}
.loading-img.img-loading{
    display: none;
}
.loading-img.img-loading{
    display: initial;
}